<div class="bg-white shadow rounded title mb-4 p-3 text-lg font-medium">
 Dashboard
</div>
<div class="bg-white  rounded py-10 p-3">
  <div class="flex flex-wrap gap-4">
    <div class="bg-white shadow-md rounded-lg p-4 w-52">
      <div class="flex justify-between items-center">
        <div class="-mt-14 flex items-center justify-center w-16 h-16 bg-black text-white rounded-lg">
          <i class="fa fa-users"></i>
       </div>
       <div class="flex flex-col items-end">
         <span  class="text-lg font-light">Bookings</span>
           <h4 class="text-lg font-bold">281</h4>
       </div>
     </div>
    </div>
    <div class="bg-white shadow-md rounded-lg p-4 w-52">
      <div class="flex justify-between items-center">
        <div class="-mt-14 flex items-center justify-center w-16 h-16 bg-green-800 text-white rounded-lg">
          <i class="fa fa-users"></i>
       </div>
       <div class="flex flex-col items-end">
         <span  class="text-lg font-light">Bookings</span>
           <h4 class="text-lg font-bold">281</h4>
       </div>
     </div>
    </div>
    <div class="bg-white shadow-md rounded-lg p-4 w-52">
      <div class="flex justify-between items-center">
        <div class="-mt-14 flex items-center justify-center w-16 h-16 bg-red-800 text-white rounded-lg">
          <i class="fa fa-users"></i>
       </div>
       <div class="flex flex-col items-end">
         <span  class="text-lg font-light">Bookings</span>
           <h4 class="text-lg font-bold">281</h4>
       </div>
     </div>
    </div>
    <div class="bg-white shadow-md rounded-lg p-4 w-52">
      <div class="flex justify-between items-center">
        <div class="-mt-14 flex items-center justify-center w-16 h-16 bg-yellow-600 text-white rounded-lg">
          <i class="fa fa-users"></i>
       </div>
       <div class="flex flex-col items-end">
         <span  class="text-lg font-light">Bookings</span>
           <h4 class="text-lg font-bold">281</h4>
       </div>
     </div>
    </div>


  </div>
</div>
