<div class="home-page min-h-[calc(100vh-95px)] w-full flex items-center justify-around flex-wrap">
  <div class="slider-container h-[380px] w-[300px]">
    <app-image-slider [slides]="slides"></app-image-slider>
  </div>
  <div class="main-container flex flex-col h-full w-[400px] justify-center flex-wrap m-5">
    <h1 class="text-blue-500 text-4xl mb-4">Find Your Next Addictive Series</h1>
    <p class="text-lg leading-6 mb-2">Filtered For You: Unearth Binge-Worthy Movies and Series Tailored to Your Tastes.</p>
  </div>
</div>

